extends user-layout

block content
  .container
  .card.card-container
    img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
    p#profile-name.profile-name-card
    form.form-signin(role='form', action='/login', method='post')
      input.form-control(type='text', name='username', placeholder='Enter username', required='', autofocus='')
      input.form-control(type='password', name='password', placeholder='Enter password', required='')
      button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Sign in
    a.forgot-password(href='/')
      | Forgot the password?
    a(href='/register')
      |   New User ?
    h4= info
