.container
  form(role="form", method="post", style="max-width: 200px;")
    .form-group
      label Pick-Up Date
      input.form-control(type="date", name="pick-up", placeHolder="Pick-Up Date")
    .form-group
      label Drop-Off Date
      input.form-control(type="date", name="pick-up", placeHolder="Drop-Off Date")
    .form-group
      label Pick-Up Time
      input.form-control(type="time", name="pick-up", placeHolder="Pick-Up Time")
    .form-group
      label Drop-Off Time
      input.form-control(type="time", name="pick-up", placeHolder="Drop-Off Time")