<h1>Add a Video</h1>

<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="video.title"></input>
    </div>
        <div class="form-group">
    	<label>Genre</label>
    	<input class="form-control" ng-model="video.genre"></input>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="video.description"></textarea>
    </div>
    <div class="form-group">
    	<label>Image</label><br>
        <input class="form-control" ng-model="video.image"></input>
    	<a href="../images/{{video.image}}" ng-model="video.image">
    		<img src="../images/{{video.image}}" ng-model="video.image" width="25%" height="25%">
    	</a>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>